*{
    box-sizing: border-box;
    margin: 0;
}

.body{
    counter-reset: section;
}

section {
    counter-increment: section;
}

section::before {
    content: "Task " counter(section) ":";
    display: block;
    text-align: center;
    font-weight: 700;
    padding-bottom: 15px;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

/*MODIFIERS THEME*/
.theme{
    padding: 15px 0;
}
.theme:nth-child(odd){
    background-color: aqua;
}

.box-theme{
    background-color: black;
    width: 100px;
    height: 100px;
}

.button-theme{
    background-color: #27ae60;
    border-color: rgb(127, 214, 95);
    width: 100px;
    /*height: 20px;*/
}

.flex-row{
    display: flex;
    justify-content: space-around;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden{
    visibility: hidden;
}

/*TASK 1*/
.t1-content{
    display: flex;
    flex-direction: column;
    width: 100px;
}

/*TASK 3*/
.t3-btn{
    display: block;
    margin: 0 auto;
}

/*TASK 4*/
.t4__inner{
    margin: 0 auto;
    flex-direction: column;
    width: 400px;
}

.t4_label{
    text-align: center;
}

/*TASK 5*/
.t5_box{
    background-color: yellow;
}

/*TASK 6*/


.t6_box{
    background-color: red;
    width: 50px;
    height: 50px;
}

/*TASK 7*/


.t7_box{
    background-color: green;
    width: 50px;
    height: 20px;
}

.t7_text-box{
    width: 200px;
}

/*TASK 9*/
.t9_text-area{
    width: 300px;
    height: 100px;
}

/*TASK 10*/

.t10:before{
    content: "Task " "10-12" ":";
    counter-increment: section+2;
}

.t10{
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
    background-color: rgba(149, 149, 149, .5);
    border-radius: 5px;
}

/*TASK 13*/
.t13{
    padding: 15px 0;
}

.t13_area{
    width: 200px;
    min-height: 25px;
    background-color: rgba(140, 177, 77,.5);
    border: 1px solid green;
    border-radius: 3px;
    text-align: center;
}

.t13_label{
    text-align: center;
}

/*TASK 14*/
.t14{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(149, 149, 149, .5);
}

/*TASK 15*/
.t15_outbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: red;
}

.t15_inbox{
    width: 100px;
    height: 100px;
    background-color: blue;

}

/*TASK 16*/
.t16_grey-box{
    display: none;
    position: fixed;
    background-color: rgba(144,144,144,.5);
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/*TASK 18*/
.t18_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(209, 222, 106, .5);
    border: 3px dashed green;
    border-radius: 3px;
    width: 200px;
    height: 100px;
}

.highlight {
    border: 3px solid green;
}

.t18_label{

}



